<?xml version="1.0" ?>
<launch>

	<arg name="sensors" default="true"/>
	<arg name="rviz_conf" default="$(find hyq_description2)/rviz/hyq_model_tf.rviz"/>

	<!-- send hyq urdf to param server and spawn it -->
	<include file="$(find hyq_description2)/launch/upload.launch">
		<arg name="sensors" value="$(arg sensors)" />
	</include>

	<!-- run rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf) -f trunk"/>

</launch>

