<?xml version="1.0" ?>
<launch>
	<arg name="sensors" default="true"/>
    <arg name="task_period" default="0.001"/>
	<arg name="arm" default="false"/>

	<!-- send the robot description file -->
	<!-- This is to have joints ordered according to our convention LF RF LH RH -->
	<param name="/hyq/robot_config" value="$(find hyq_description2)/yarf/hyq_ordered.yarf"/>
	
	
	<!-- send hyq urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find hyq_description2)/robots/hyq.urdf.xacro'
	arm:=$(arg arm) sensors:=$(arg sensors) task_period:=$(arg task_period)"/>
	
	<!-- This is to have joints ordered according to our convention LF RF LH RH -->
	<param name="hyq/robot_model" command="$(find xacro)/xacro --inorder '$(find hyq_description2)/robots/hyq_model_ordered.urdf.xacro'"/>
	
	<!-- send hyq semantic description srdf to param server -->
	<param name="robot_semantic_description" command="$(find xacro)/xacro --inorder '$(find hyq_description2)/robots/hyq.srdf.xacro' arm:=$(arg arm)" />


</launch>

