[submodule "3rd_party/iit-commons"]
	path = 3rd_party/iit-commons
	url = git@gitlab.advr.iit.it:dls-lab/iit-commons.git
[submodule "catkin_ws/src/dls-hal"]
	path = catkin_ws/src/dls-hal
	url = git@gitlab.advr.iit.it:dls-lab/dls-hal.git
[submodule "3rd_party/doglib"]
	path = 3rd_party/doglib
	url = git@gitlab.advr.iit.it:hdebruin/doglib.git
[submodule "doc/dls2_examples"]
	path = doc/dls2_examples
	url = https://gitlab.advr.iit.it/hdebruin/dls2_examples
