[submodule "3rd_party/iit-commons"]
	path = 3rd_party/iit-commons
	url  = git@gitlab.advr.iit.it:dls-lab/iit-commons.git
[submodule "catkin_ws/src/dls-hal"]
	path = catkin_ws/src/dls-hal
	url  = git@gitlab.advr.iit.it:dls-lab/dls-hal.git
[submodule "3rd_party/doglib"]
	path = 3rd_party/doglib
	url  = git@gitlab.advr.iit.it:dls-lab/doglib.git
[submodule "doc/dls2_examples"]
	path = doc/dls2_examples
	url  = git@gitlab.advr.iit.it:dls-lab/dls2_examples.git
[submodule "catkin_ws/src/liblocomotionutils"]
	path = catkin_ws/src/liblocomotionutils
	url  = git@gitlab.advr.iit.it:dls-lab/liblocomotionutils.git
[submodule "catkin_ws/src/iit-commons"]
	path = catkin_ws/src/iit-commons
	url  = git@gitlab.advr.iit.it:dls-lab/iit-commons.git
[submodule "3rd_party/param-server"]
	path = 3rd_party/param-server
	url = git@gitlab.advr.iit.it:dls-lab/param-server.git
