[submodule "3rd_party/iit-commons"]
	path = 3rd_party/iit-commons
	url  = git@gitlab.advr.iit.it:dls-lab/iit-commons.git
[submodule "catkin_ws/src/dls-hal"]
	path = catkin_ws/src/dls-hal
	url  = git@gitlab.advr.iit.it:dls-lab/dls-hal.git
[submodule "3rd_party/doglib"]
	path = 3rd_party/doglib
	url  = git@gitlab.advr.iit.it:dls-lab/doglib.git
[submodule "doc/dls2_examples"]
	path = doc/dls2_examples
	url  = git@gitlab.advr.iit.it:dls-lab/dls2_examples.git
[submodule "catkin_ws/src/dls_mapping"]
	path = catkin_ws/src/dls_mapping
	url  = git@gitlab.advr.iit.it:dls-lab/dls_mapping.git
[submodule "catkin_ws/src/liblocomotionutils"]
	path = catkin_ws/src/liblocomotionutils
	url  = git@gitlab.advr.iit.it:dls-lab/liblocomotionutils.git
[submodule "catkin_ws/src/iit-commons"]
	path = catkin_ws/src/iit-commons
	url  = git@gitlab.advr.iit.it:dls-lab/iit-commons.git
[submodule "catkin_ws/src/common_utilities"]
	path = catkin_ws/src/common_utilities
	url  = git@gitlab.advr.iit.it:dls-lab/common_utilities.git
[submodule "catkin_ws/src/hyq-commons"]
	path = catkin_ws/src/hyq-commons
	url  = git@gitlab.advr.iit.it:dls-lab/hyq-commons.git
