<?xml version="1.0" ?>
<launch>
	<arg name="robot_name" default="hyq" />
	<arg name="sim" default="true" />
	<arg name="sensors" default="true"/>
	<arg name="task_period" default="0.001"/>
	<arg name="arm" default="false"/>


	<!-- Start the Gazebo Simulation -->
	<group if="$(arg sim)">
		<include file="$(find hyq_description2)/launch/world.launch">
			<arg name="sensors" value="$(arg sensors)" />
			<arg name="task_period" value="$(arg task_period)" />
			<arg name="arm" value="$(arg arm)" />
		</include>
	</group>

	<!-- Start the DLS2 <- - -> Ros Control bridge -->
	<rosparam file="$(find ros_control_to_dls2)/config/$(arg robot_name)_control_params.yaml" command="load"/>
	<rosparam file="$(find dls2_to_roscontrol)/config/$(arg robot_name)_control_params.yaml" command="load"/>
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/$(arg robot_name)" args="JointStateController BlindStateController dls2_to_roscontrol"/>
			
</launch>
