<?xml version="1.0" ?>
<launch>
	<arg name="robot_name" default="hyq" />
        <arg name="rviz_conf" default="$(find robot_bringup)/config/operator.rviz"/>

		<!-- convert joint states to TF transforms for rviz, etc -->
                <node name="robot_state_publisher_for_rviz" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<remap from="/joint_states" to="/$(arg robot_name)/joint_states"/> 
		</node>

        <!-- run rviz -->
        <node name="rviz" pkg="rviz" type="rviz"  args="-d $(arg rviz_conf) -f world "/>

</launch>

